:root {
  --margin-xs: .25rem;
  --margin-s: .5rem;
  --margin-sm: .75rem;
  --margin-m: 1rem;
  --margin-l: 1.5rem;
  --margin-xl: 2rem;
  --margin-xxl: 3rem;
  --margin-xxxl: 3.5rem;
  --margin-xxxl: 4rem;
}