:root
{
  --text-full: 22vi;
  --text-h1: 6vi;
  --text-h2: 8vi;
  --text-h3: 6vi;
  --text-xxs: 1.5vi;
  --text-xs: 3vi;
  --text-s: 4vi;
  --text-sm: 4.5vi;
  --text-m: 5vi;
  --text-l: 6vi;
  --text-xl: 7vi;
  --text-xxl: 8vi;
  --text-xxxl: 9vi;
  --text-xxxxl: 12vi;
}