$intro-cube-entry: 112vb;
$intro-cube-exit: 100vb;
$intro-cube-size: 40vmin;

$intro-h1-entry: 100vb;
$intro-h1-exit: -180vb;
$intro-h1-size: 29vi;

$intro-p1-entry: 140vb;
$intro-p1-exit: -83vb;

$intro-p2-entry: 213vb;
$intro-p2-exit: 0vb;