main
{
    background-color: #001014;
    min-height: 100vb;
    > *
    {
        display: block
    }
}
app-intro
{
    height: 300vb;

}
app-screenshots
{
    height: 100vb;
}
app-statitics
{
    height: 100vb;
}
app-security
{
    height: 100vb;
}
app-examples
{
    height: 100vb;
}