@import './animations.intro.component.scss';
@import '../config.scss';
@import 'mixins';
$intro-p-size: 10vmin;
$intro-p-container-size: 90vmin;

#intro
{
    height: 100%;
    width: 100%;
    position: relative;
    view-timeline-name: --intro;

    article
    {

        height: 100vb;
        position: fixed;
        inset: 0;
        animation: appear 2s cubic-bezier(0, 1, 0.5, 1) 0ms forwards;
        @include flexMx(center, center, 0px);
        flex-wrap: wrap;
        h1
        {
            color: var(--bg-100);
            font-size: $intro-h1-size;
            font-weight: 500;
            @include scrollAnim(--intro, dissapear, $intro-h1-entry, $intro-h1-exit);
            will-change: opacity, scale;
        }

    }
    p
    {
        @media screen and (width > 1024px)
        {

            $intro-p-size: 6vmin;
            $intro-p-container-size: 70vmin;
            max-width: $intro-p-container-size;
            font-size: $intro-p-size;
            line-height: 1;

        }
        max-width: $intro-p-container-size;
        font-size: $intro-p-size;
        line-height: 1;
        color: var(--bg-100);
        will-change: opacity,
        scale;
        position: fixed;
        @include flexMx(center, center, 0px);

        inset: 0;
        text-align: center;
        height: 100vb;
        padding: 16px;
        margin: 0 auto;
        color: rgba(white, .6);

        &.one
        {
            @include scrollAnim(--intro, appearDissappear, $intro-p1-entry, $intro-p1-exit);
        }
        &.two
        {
            @include scrollAnim(--intro, appear, $intro-p2-entry, $intro-p2-exit);
            position: sticky;
        }
        b
        {
            display: inline-block;
            color: white;
            font-weight: 500;
            @media screen and (width > 1024px)
            {
                $intro-p-size: 6vmin;
                font-size: calc($intro-p-size + 1vmin);
            }
            font-size: calc($intro-p-size + 1vmin);
        }
    }


}