 @import 'components/buttons';
 html
 {
   background-color: var(--bg-100);
   font-family: "Roboto Flex", sans-serif;
 }

 h1
 {
   color: var(--primary-100);
   font-weight: 400;
   font-size: var(--text-s);
   letter-spacing: 1px;
 }

 h2
 {
   color: var(--text-100);
   font-weight: 900;
   font-size: var(--text-h2);
   &.h2-s
   {
     font-size: var(--text-h2-s);

   }
 }

 h3
 {
   font-weight: bold;
   margin-bottom: var(--margin-xs);
   font-size: var(--text-h3);
   color: var(--primary-100);
 }
 h4
 {
   color: var(--text-100);

   font-weight: bold;
   margin-bottom: var(--margin-xs);
   font-size: var(--text-m);
 }
 h5
 {
   color: var(--text-100);
   font-size: var(--text-sm);
   font-weight: bold;
   margin-bottom: var(--margin-xs);

 }
 h6
 {
   color: var(--primary-100);
   font-weight: 900;
   margin-bottom: var(--margin-xs);
   font-size: var(--text-xs);
 }
 p
 {
   color: var(--text-100);
   line-height: 1.5;
   font-weight: 300;
 }

 a
 {
   color: var(--text-200);
   font-weight: 600;
 }


 //Inputs
 $border: 2px;
 .input-container
 {

   &.search
   {
     position: relative;
     input
     {
       padding: calc(var(--margin-m) - $border ) calc(var(--margin-m) - $border ) calc(var(--margin-m) - $border ) calc(var(--margin-m) * 3 - $border );
     }
     &:after
     {
       top: calc(var(--margin-m));
       left: calc(var(--margin-m) - $border );
       content: "\f002";
       position: absolute;
       font-family: "Font Awesome 5 Pro";
       color: var(--bg-300);
       font-size: var(--text-m);
     }
   }
 }
 label
 {

   display: block;
   font-size: var(--margin-m);
   font-weight: 500;
   margin-bottom: var(--margin-s);

   position: relative;
   color: var(--text-100);


 }

 input[type="checkbox"]
 {
   width: 0;
   height: 0;
   margin: 0;
   padding: 0;
   & + label
   {
     $checkbox-size: var(--text-m);
     padding-left: calc($checkbox-size * 2);
     &::after
     {
       content: '';
       position: absolute;
       top: 1px;
       left: 1px;
       width: $checkbox-size;
       height: $checkbox-size;

       font-size: $checkbox-size;
       color: var(--primary-100)
     }
     &::before
     {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: $checkbox-size;
       height: $checkbox-size;
       border: 2px solid var(--text-100);
       border-radius: 4px;

     }
   }
   &:checked + label
   {
     h4
     {
       color: var(--primary-100);
     }
     &::before
     {
       border-color: var(--primary-100);
       border-width: 3px;
       background-color: var(--primary-100);

     }


   }
 }

 textarea,
 input[type="text"],
 input[type="email"],
 input[type="date"],
 input[type="password"]
 {
   $border: 2px;
   border-radius: var(--margin-sm);
   padding: calc(var(--margin-m) - $border );
   width: 100%;
   font-size: var(--text-s);
   border: 2px solid transparent;
   color: var(--text-100);
   background-color: var(--bg-100);

   &:focus
   {
     outline: none;
     border: 2px solid var(--primary-100);
   }
 }

 .img_container
 {
   width: var(--text-xxxxl);
   height: var(--text-xxxxl);
   border-radius: 50%;
   img
   {
     border-radius: 50%;
     width: 100%;
     object-fit: cover;
   }
 }
 .notification
 {
   display: inline-flex;
   gap: var(--margin-s);
   align-items: center;
   background-color: var(--accent-200);
   border-radius: var(--margin-m);
   padding: var(--margin-s);
   color: var(--text-100);
   font-size: var(--text-xs);
   font-weight: 500;
   &:before
   {
     content: '';
     display: block;
     background-color: var(--accent-100);
     width: var(--text-xs);
     height: var(--text-xs);
     border-radius: 50%;
   }
 }

 footer.footer-sign-up
 {
   width: 100%;
   padding: var(--margin-l) var(--margin-m) 0;
   text-align: center;
   background-color: var(--bg-100);
   a
   {
     color: var(--primary-100)
   }
 }
 a.back
 {
   padding: 0 0 var(--margin-m);
   font-size: var(--text-s);

   display: block;
 }